body {
    background-color: lightgrey;
    background-image: url("../img/4-horsemen.png");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center -50%;
}

h1 {
    text-align: center;
}